/* Default theme by Jakub Janek 
 * Blueish background with red links and white colored text
 * Not a great theme for colorblind people not even good
 * design for website like yours. Make your own or wait
 * if someone else will make better one :) */

body {
    display: grid;
    grid-template-columns: 30% auto 30%;
    grid-template-areas: 
    ". header ."
    ". menu ."
    ". blog ."
    ". footer .";

    background-color: #1a1a1c;
    color: white;
}

div.header {
    grid-area: header;
}

div.menu {
    grid-area: menu;
}

div.blog {
    grid-area: blog;
}

div.footer {
    grid-area: footer;
}

div#login {
    text-align: center;
}

a {
    color: red;
    text-decoration: none;
}

a:hover {
    color: #D3D3D3;
    text-decoration: underline;
}


